<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stock Search</title>
    <link href="static/styles/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="#">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">Stock Search</h1>
        <form id="searchForm" action="https://assignment2choyer.wl.r.appspot.com/search" method="post">
            <input type="image" src="static/img/search-solid.svg" alt="Search" id="searchImage">      
            <input type="search" name="name" id="name" placeholder="Enter Stock Ticker Symbol" required>  
            <div id="dividedline"></div>
            <img type="image" src="static/img/times-solid.svg" alt="Clear" id="clearImage">  
        </form>
        <div id="chartContainer">
            <div id="errorContainer">Error: No record has been found, please enter a valid symbol</div>
            <div id="correctContainer">               
                <button id="companyStamp">Company</button>
                <button id="summaryStamp">Stock Summary</button>
                <button id="chartsStamp">Charts</button>
                <button id="newsStamp">Latest News</button>
                <div id="grayBar"></div>   
                <div id="screenContainer">
                    <div id="companyPages">
                        <img id="companyImage" alt="Comany Logo"></img>
                        <table id="companyInfo">                            
                                <tr>
                                    <td id="alignRight">Company Name</td>
                                    <td id="namePlaceHolder"></td>
                                </tr>
                                <tr>
                                    <td id="alignRight">Stock Ticker Symbol</td>
                                    <td id="symbolPlaceHolder"></td>
                                </tr>
                                <tr>
                                    <td id="alignRight">Stock Exchange Code</td>
                                    <td id="codePlaceHolder"></td>
                                </tr>
                                <tr>
                                    <td id="alignRight">Company Start Date</td>
                                    <td id="datePlaceHolder"></td>
                                </tr>
                                <tr>
                                    <td id="alignRight">Category</td>
                                    <td id="categoryPlaceHolder"></td>
                                </tr>
                        </table>
                    </div>
                    <div id="summaryPages">
                        <table id="summaryInfo">                            
                            <tr>
                                <td id="alignRight">Stock Ticker Symbol</td>
                                <td id="symbolPlaceHolder2"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Trading Day</td>
                                <td id="tradingPlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Previous Closing Price</td>
                                <td id="closingPlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Opening Price</td>
                                <td id="openPlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">High Price</td>
                                <td id="highPlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Low Price</td>
                                <td id="lowPlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Change</td>
                                <td id="changePlaceHolder"></td>
                            </tr>
                            <tr>
                                <td id="alignRight">Change Percent</td>
                                <td id="percentPlaceHolder"></td>
                            </tr>
                        </table>
                        <div id="recommenBar">
                            <div id="strongSelltext">Strong Sell</div>
                            <div id="strongSell">0</div>
                            <div id="sell">0</div>
                            <div id="hold">0</div>
                            <div id="buy">0</div>
                            <div id="strongBuy">0</div>
                            <div id="strongBuytext">Strong Buy</div>
                            <div id="recommendTrend">Recommendation Trends</div>
                        </div>
                    </div>
                    <div id="chartsPages">
                        <div id="priceChart"></div>
                    </div>
                    <div id="newsPages">
                        <div id="newsInfo">
                            <div class="news1ImageHolder"><img src="" alt="No Image" id="news1ImageHolder"></div>
                            <div id="news1Container">
                                <h1 id="new1Header"></h1>
                                <h1 id="new1Date"></h1>
                                <a href="#" id="new1Source" target="_blank">See Original Post</a>
                            </div>
                        </div>
                        <div id="newsInfo2">
                            <div class="news2ImageHolder"><img src="" alt="No Image" id="news2ImageHolder"></div>
                            <div id="news2Container">
                                <h1 id="new2Header"></h1>
                                <h1 id="new2Date"></h1>
                                <a href="#" id="new2Source" target="_blank">See Original Post</a>
                            </div>
                        </div>
                        <div id="newsInfo3">
                            <div class="news3ImageHolder"><img src="" alt="No Image" id="news3ImageHolder"></div>
                            <div id="news3Container">
                                <h1 id="new3Header"></h1>
                                <h1 id="new3Date"></h1>
                                <a href="#" id="new3Source" target="_blank">See Original Post</a>
                            </div>           
                        </div>
                        <div id="newsInfo4">
                            <div class="news4ImageHolder"><img src="" alt="No Image" id="news4ImageHolder"></div>
                            <div id="news4Container">
                                <h1 id="new4Header"></h1>
                                <h1 id="new4Date"></h1>
                                <a href="#" id="new4Source" target="_blank">See Original Post</a>
                            </div>                            
                        </div>
                        <div id="newsInfo5">
                            <div class="news5ImageHolder"><img src="" alt="No Image" id="news5ImageHolder"></div>
                            <div id="news5Container">
                                <h1 id="new5Header"></h1>
                                <h1 id="new5Date"></h1>
                                <a href="#" id="new5Source" target="_blank">See Original Post</a>
                            </div>                           
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
