body {
    padding: 0;
    margin: 0;
    background-image: url('../img/back.svg');
    background-repeat: no-repeat;
    background-size: 2000px 280px;
    background-position: -200px 0;
    
}


.container {
    position: relative;
}

.title {
    position: relative;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
    left:630px;
    color: #444;
}

#searchForm {
    position: relative;
}



#name {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    left: 350px;
    border: 1px solid #ccc;
    border-radius: 13px;
    color: #666;
    font-size: 17px;
    font-weight: 300;
    width: 710px;  
    height: 40px;
    outline: none;
    box-shadow: 0px 0.5px 1px #ccc;
}

#searchImage {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 365px;
    transform: translateY(-50%);
    height: 18px;  
    background: url('path/to/your/image.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.2;
}

#clearImage {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 1030px;
    transform: translateY(-50%);
    height: 18px;  
    background: url('path/to/your/image.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.2;
}

#name::-webkit-search-cancel-button,
#name::-webkit-search-clear-button {
    display: none;
}

#dividedline {
    position: absolute;
    top: 0px;
    left: 1015px;
    z-index: 10;
    height: 40px;
    width: 1px;
    background-color: #ccc;
}
#chartContainer{
    position: relative;
    top: 180px;
    left: 250px;
}

#errorContainer{
    display: none;
    position: relative;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 750px;
    color:#666;
    top: 80px;
    left: 130px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

#grayBar {
    position: absolute;
    display: inline-block;
    left: 250px;
    background-color: rgb(250, 250, 250);
    z-index: -1;
    width: 750px;
    height: 60px;
}

#correctContainer {
    display: none;
    font-size: 0;
}

button {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    height: 60px;
    z-index: 1;
    font-size: 16px;
    width: 130px;
    font-family:  Arial, sans-serif;
    font-weight: 100;
    color: #444;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}

button#companyStamp {
    width:110px;
}

button#summaryStamp {
    width: 150px;
}

button#chartsStamp {
    width: 90px;
}


button:focus {
    background-color: #aaa;
}

button:hover {
    background-color: #ccc;
}

#companyPages {
    display: none;
}

#summaryPages {
    display: none;
}

#chartsPages {
    display: none;
}

#newsPages {
    display: none;
}

#companyImage {
    position: relative;
    top: 30px;
    left: 450px;
    width: 110px;
    height: 110px;
}

table#companyInfo {
    font-size: 16px;
    font-family:  Arial, sans-serif;
    position:relative;
    top: 50px;
    left: 200px;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    table-layout: fixed;
}

table#summaryInfo {
    font-size: 16px;
    font-family:  Arial, sans-serif;
    position:relative;
    top: 50px;
    left: 200px;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    table-layout: fixed;
}

#strongSelltext {
    position: relative;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: rgba(202,106,120,255);
    width: 50px;
    top: 70px;
    left: 350px;
}

#strongSell {
    position:relative;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:lighter;
    text-align: center;
    color: white;
    width: 40px;
    height: 50px;
    top: 20px;
    left: 420px;
    background-color: rgba(239,47,67,255);
    line-height: 50px;
}

#sell {
    position:relative;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:bolder;
    text-align: center;
    color: white;
    width: 40px;
    height: 50px;
    top: 20px;
    left: 420px;
    background-color: rgba(186,105,83,255);
    line-height: 50px;
}

#hold {
    position:relative;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:bolder;
    text-align: center;
    color: white;
    width: 40px;
    height: 50px;
    top: 20px;
    left: 420px;
    background-color: rgba(131,157,101,255);
    line-height: 50px;
}

#buy {
    position:relative;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:bolder;
    text-align: center;
    color: white;
    width: 40px;
    height: 50px;
    top: 20px;
    left: 420px;
    background-color: rgba(68,208,124,255);
    line-height: 50px;
}

#strongBuy {
    position:relative;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:bolder;
    text-align: center;
    color: white;
    width: 40px;
    height: 50px;
    top: 20px;
    left: 420px;
    background-color: rgba(2,255,138,255);
    line-height: 50px;
}

#strongBuytext {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: rgba(152,199,170,255);
    width: 50px;
    top: 27px;
    left: 435px;
}

#recommendTrend {
    position: relative;
    font-size: 22px;
    font-family:  sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
    width: 300px;
    top: 40px;
    left: 330px;
}

td, th {
    padding: 7px; 
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
}


td#alignRight {
    text-align: right;
    font-weight: bold;
} 

#namePlaceHolder,
#symbolPlaceHolder,
#codePlaceHolder,
#datePlaceHolder,
#categoryPlaceHolder {
    font-weight: 100;
}

#newsInfo,
#newsInfo2,
#newsInfo3,
#newsInfo4,
#newsInfo5 {
    position: relative;
    width: 1000px;
    left: -20px;
    height: 150px;
    background-color: rgb(250, 250, 250);
    margin: 30px;
}

#new1Header,
#new2Header,
#new3Header,
#new4Header,
#new5Header {
    position: relative;
    width: 850px;
    font-size: 20px;
    font-weight: border;
    font-family: Arial, sans-serif;
    margin: 0px;
}

#new1Date,
#new2Date,
#new3Date,
#new4Date,
#new5Date {
    position: relative;
    font-size: 20px;
    width: 1000px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: lighter;
    z-index: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

#new1Source,
#new2Source,
#new3Source,
#new4Source,
#new5Source {
    position: relative;
    width: 1000px;
    font-size: 20px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: lighter;
    z-index: 100;
}

#news1Container,
#news2Container,
#news3Container,
#news4Container,
#news5Container {
    position: relative;
    left: 150px;
    top: -105px;
}

.news1ImageHolder,
.news2ImageHolder,
.news3ImageHolder,
.news4ImageHolder,
.news5ImageHolder
{
    position: relative;
    top: 15px;
    left: 10px;
    width: 120px;
    height: 120px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}

#news1ImageHolder,
#news2ImageHolder,
#news3ImageHolder,
#news4ImageHolder,
#news5ImageHolder
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#priceChart {
    position: relative;
    font-size: 20px;
    width: 1000px;
    height: 200%;
    left: 20px;
    top: 20px;
}

#subtitle {
    font-size: 16px;
}